p {
    color: green;
}

body {
    color: green;
    background-color: black;
}

nav {
    background-color: indianred;
    height: 20px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    height: 80px;
}

#div_esquerda {
    min-height: auto;
    width: 67%;
    float: left;
}

#div_direita {
    min-height: auto;
    width: 33%;
    float: right;
}

footer {
    text-align: center;
    clear: both;
}

.container {
    width: 999px;
    margin: 0 auto;
}